@{
    string pageTitle = "Calculadora científica MVC";
}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta author="Youssef Aoun Ocampo" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link type="text/css" rel="stylesheet" href="~/css/site.css" />
    <title>@pageTitle</title>
</head>


<body>
    <header>
        <h1>CALCULADORA</h1>
        <hr />
        
    </header>
    <main class="containerCalculadora">
        <table class="table1">
            <tr>
                <th colspan="5">
                    <div style="display: flex; justify-content: space-between;">
                        <h3 style="color: #dae1df; text-align: left; margin: 0;">TEXET</h3>
                        <h3 style="color: #dae1df; text-align: right; margin: 0;">IZ</h3>
                    </div>
                    <div style="display: flex; justify-content: space-between;">
                        <div style="width: 50%; text-align: left;">
                            <p style="color: #dae1df; margin: 0;">DX-120-AUTO-TAX</p>
                        </div>
                        <div style="width: 50%; text-align: right;">
                            <p style="color: #dae1df; margin: 0;">DIGITS</p>
                        </div>
                    </div>

                    <input id="displayBox" class="Pantallita" type="text" readonly />
                </th>
            </tr>
            <tr>
                <td>
                    <div class="displaytable-cell" id="bMClear">
                        <button class="buttonM" type="button" onclick="calculadora.clearMemory()">
                            MC
                        </button>
                    </div>
                </td>
                <td>
                    <div class="displaytable-cell" id="bMRead">
                        <button class="buttonM" type="button" onclick="calculadora.readMemory()">
                            MR
                        </button>
                    </div>
                </td>
                <td>
                    <div class="displaytable-cell" id="bMAdd">
                        <button class="buttonM" type="button" onclick="calculadora.addToMemory()">
                            M+
                        </button>
                    </div>
                </td>
                <td>
                    <div class="displaytable-cell" id="bMSub">
                        <button class="buttonM" type="button" onclick="calculadora.subtractFromMemory()">
                            M-
                        </button>
                    </div>
                </td>
                <td>
                    <div class="displaytable-cell" id="bMSave">
                        <button class="buttonM" type="button" onclick="calculadora.saveToMemory()">
                            MS
                        </button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="displaytable-cell" id="bSquare">
                        <button class="buttonB" type="button" onclick="calculadora.square()">
                            x^2
                        </button>
                    </div>
                </td>
                <td>
                    <div class="displaytable-cell" id="bNthPowerOfTenOr">
                        <button class="buttonB" type="button" onclick="calculadora.nthTenPower()">
                            10^x
                        </button>
                    </div>
                </td>
                <td>
                    <div class="displaytable-cell" id="bSine">
                        <button class="buttonB" type="button" onclick="calculadora.writeMathFunction('sin(')">
                            sin
                        </button>
                    </div>
                </td>
                <td>
                    <div class="displaytable-cell" id="bCosine">
                        <button class="buttonB" type="button" onclick="calculadora.writeMathFunction('cos(')">
                            cos
                        </button>
                    </div>
                </td>
                <td>
                    <div class="displaytable-cell" id="bTangent">
                        <button class="buttonB" type="button" onclick="calculadora.writeMathFunction('tan(')">
                            tan
                        </button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="displaytable-cell" id="bCube">
                        <button class="buttonV" type="button" onclick="calculadora.cube()">
                            x^3
                        </button>
                    </div>
                </td>
                <td>
                    <div class="displaytable-cell" id="bInverseNumber">
                        <button class="buttonV" type="button" onclick="calculadora.inverseNumber()">
                            x^-1
                        </button>
                    </div>
                </td>
                <td>
                    <div class="displaytable-cell" id="bSqrt">
                        <button class="buttonV" type="button" onclick="calculadora.writeMathFunction('sqrt(')">
                            √×
                        </button>
                    </div>
                </td>
                <td>
                    <div class="displaytable-cell" id="bLogOr">
                        <button class="buttonV" type="button" onclick="calculadora.writeMathFunction('log(')">
                            log
                        </button>
                    </div>
                </td>
                <td>
                    <div class="displaytable-cell" id="bNaturalLog">
                        <button class="buttonV" type="button" onclick="calculadora.writeMathFunction('ln(')">
                            ln
                        </button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="displaytable-cell" id="bPercentage">
                        <button class="buttonB" type="button" onclick="calculadora.writeMathFunction('e')">
                            e
                        </button>
                    </div>
                </td>
                <td>
                    <div class="displaytable-cell" id="bClearDisplayCE">
                        <button class="buttonR" type="button" onclick="calculadora.clearAll()">
                            CE
                        </button>
                    </div>
                </td>
                <td>
                    <div class="displaytable-cell" id="bClearDisplayC">
                        <button class="buttonR" type="button" onclick="calculadora.clearDisplay()">
                            C
                        </button>
                    </div>
                </td>
                <td>
                    <div class="displaytable-cell" id="bDelete">
                        <button class="buttonR" type="button" onclick="calculadora.eraseLastInput()">
                            Del
                        </button>
                    </div>
                </td>
                <td>
                    <div class="displaytable-cell" id="bDivide">
                        <button class="buttonB" type="button" onclick="calculadora.writeOperatorToDisplay('/')">
                            /
                        </button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="displaytable-cell" id="bPi">
                        <button class="buttonBlack" type="button" onclick="calculadora.writeMathFunction('PI')">
                            π
                        </button>
                    </div>
                </td>
                <td>
                    <div class="displaytable-cell" id="bSeven">
                        <button class="buttonGrey" type="button" onclick="calculadora.writeToDisplay('7')">
                            7
                        </button>
                    </div>
                </td>
                <td>
                    <div class="displaytable-cell" id="bEight">
                        <button class="buttonGrey" type="button" onclick="calculadora.writeToDisplay('8')">
                            8
                        </button>
                    </div>
                </td>
                <td>
                    <div class="displaytable-cell" id="bNine">
                        <button class="buttonGrey" type="button" onclick="calculadora.writeToDisplay('9')">
                            9
                        </button>
                    </div>
                </td>
                <td>
                    <div class="displaytable-cell" id="bMultiply">
                        <button class="buttonBlack" type="button" onclick="calculadora.writeOperatorToDisplay('*')">
                            x
                        </button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="displaytable-cell" id="bFactorial">
                        <button class="buttonBlack" type="button" onclick="calculadora.calculateFactorial()">
                            n!
                        </button>
                    </div>
                </td>
                <td>
                    <div class="displaytable-cell" id="bFour">
                        <button class="buttonGrey" type="button" onclick="calculadora.writeToDisplay('4')">
                            4
                        </button>
                    </div>
                </td>
                <td>
                    <div class="displaytable-cell" id="bFive">
                        <button class="buttonGrey" type="button" onclick="calculadora.writeToDisplay('5')">
                            5
                        </button>
                    </div>
                </td>
                <td>
                    <div class="displaytable-cell" id="bSix">
                        <button class="buttonGrey" type="button" onclick="calculadora.writeToDisplay('6')">
                            6
                        </button>
                    </div>
                </td>
                <td>
                    <div class="displaytable-cell" id="bSubtract">
                        <button class="buttonBlack" type="button" onclick="calculadora.writeOperatorToDisplay('-')">
                            -
                        </button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="displaytable-cell" id="bToggleSign">
                        <button class="buttonBlack" type="button" onclick="calculadora.toggleSign()">
                            (±)
                        </button>
                    </div>
                </td>
                <td>
                    <div class="displaytable-cell" id="bOne">
                        <button class="buttonGrey" type="button" onclick="calculadora.writeToDisplay('1')">
                            1
                        </button>
                    </div>
                </td>
                <td>
                    <div class="displaytable-cell" id="bTwo">
                        <button class="buttonGrey" type="button" onclick="calculadora.writeToDisplay('2')">
                            2
                        </button>
                    </div>
                </td>
                <td>
                    <div class="displaytable-cell" id="bThree">
                        <button class="buttonGrey" type="button" onclick="calculadora.writeToDisplay('3')">
                            3
                        </button>
                    </div>
                </td>
                <td>
                    <div class="displaytable-cell" id="bAdd">
                        <button class="buttonBlack" type="button" onclick="calculadora.writeOperatorToDisplay('+')">
                            +
                        </button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="displaytable-cell" id="bOpenParentheses">
                        <button class="buttonBlack" type="button" onclick="calculadora.writeOperatorToDisplay('(')">
                            (
                        </button>
                    </div>
                </td>
                <td>
                    <div class="displaytable-cell" id="bCloseParentheses">
                        <button class="buttonGrey" type="button" onclick="calculadora.writeOperatorToDisplay(')')">
                            )
                        </button>
                    </div>
                </td>
                <td>
                    <div class="displaytable-cell" id="bZero">
                        <button class="buttonGrey" type="button" onclick="calculadora.writeToDisplay('0')">
                            0
                        </button>
                    </div>
                </td>
                <td>
                    <div class="displaytable-cell" id="bDot">
                        <button class="buttonGrey" type="button" onclick="calculadora.writeToDisplay('.')">
                            .
                        </button>
                    </div>
                </td>
                <td>
                    <div class="displaytable-cell" id="bEquals">
                        <button class="buttonX" type="button" onclick="calculadora.solveOperation()">
                            =
                        </button>
                    </div>
                </td>
            </tr>
        </table>
    </main>

    <script src="~/js/site.js"></script>
</body>

</html>
